<!--The content below is only a placeholder and can be replaced.-->
<!-- <h2><u>Angular Practice</u></h2> -->

<br><br>

<!-- 
  <h1>{{name}}</h1>


  <h1>{{name | uppercase }}</h1>


  <h1>{{name | lowercase }}</h1> -->

  
<!-- 
  <h2>{{day}}</h2>


  <h2>{{day | date}}</h2>
  

  <h2>{{day | date: 'shortDate'}}</h2>
  <h2>{{day | date: 'longDate'}}</h2>
  <h2>{{day | date: 'fullDate'}}</h2>
  

  <h2>{{day | date: 'fullDate' | uppercase}}</h2> -->



<!-- <p>{{arr | sort: 'ascending' }}</p>



<p>{{arr | sort: 'descending' }}</p> -->


<form class="container" #userForm = "ngForm" (ngSubmit) = "onSubmit(userForm.value)">
  <div class="form-group">
    <input type="text" class="form-control" name="firstname" id="" placeholder="first name" ngModel>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="lastname" id="" placeholder="last name" ngModel>
  </div>
  <div class="form-group">
    <select class="form-control" id="exampleFormControlSelect1" name="languages" ngModel> 
      <option>C++</option>
      <option>Java</option>
      <option>Angular</option>
    </select>
  </div>

  <input class="btn btn-warning" type="submit" value="Click Me">
</form>





















  